

.index-box {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #0ab68b;
    color: #0ab68b;;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
}

.project-description {
    padding-top: 20px;
    font-size: 15px;
    color: #029174;
}

a.btn.btn-primary.btn-lg {
    background: #0ab68b;
    border: none;
}

